In [1]:
import pandas as pd
from sklearn import svm

In [2]:
df = pd.DataFrame([[2011,   6.20,   26.30],
[2012,   6.50,   26.65],
[2013,   5.48,   25.03],
[2014,   6.54,    26.01],
[2015,   7.18,   27.90],
[2016,   7.93,   30.47]],columns=['col1','col2','target'])

In [3]:
df

   col1  col2  target
0  2011  6.20   26.30
1  2012  6.50   26.65
2  2013  5.48   25.03
3  2014  6.54   26.01
4  2015  7.18   27.90
5  2016  7.93   30.47

In [4]:
y = df.target

In [5]:
y = y.ravel()

In [8]:
df.iloc[:,1:2]

   col2
0  6.20
1  6.50
2  5.48
3  6.54
4  7.18
5  7.93

In [6]:
regr = svm.SVR()
regr.fit(df.iloc[:,1:2],y)

SVR()

In [7]:
regr.predict([[7.93]])

array([28.32249694])

when using only col2 as feature predictions are very good

In [9]:
regr = svm.SVR()
regr.fit(df.iloc[:,:2],y)

SVR()

In [12]:
regr.predict([[2019,7.93]])

array([26.47504254])

when using both the features col1,col2 predictions arre bad while testing